.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}


.cell {
  /* border: 1px solid rgb(48, 47, 47); */
  background-color: rgba(241, 207, 155, 0.664);
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}


.grid-size {
  width: 150px;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid rgba(241, 207, 155, 0.664);
  border-radius: 10px;
  background-color: rgb(59, 59, 237);
  color: white;
  cursor: pointer;
}

.grid-size:hover {
  background-color: rgb(104, 104, 236);
}